---
import {getCollection} from 'astro:content';
import MainLayout from '@/layouts/MainLayout.astro';
import Article from '@/components/Article.astro';
const posts = (await (getCollection("blog"))).sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---
<MainLayout title="Blog">
    <div class="max-w-content-size mx-auto w-full">
        <div class="mt-6 w-full prose prose-invert">
          <ul class="space-y-8 list-none">
            {
              posts.map(post => (
                <Article {...post.data} slug={post.slug}/>
              ))
            }
          </ul>
        </div>
      </div>
</MainLayout>
