---
import CVLayout from '@/layouts/CVLayout.astro';
import Hero from '@/components/cv/Hero.astro';
import Experience from '@/components/cv/Experience.astro';
import About from '@/components/cv/About.astro';
import Education from '@/components/cv/Education.astro';
import Skills from '@/components/cv/Skills.astro';
import KeyboardManager from '@/components/cv/KeyboardManager.astro'
---

<CVLayout title="CV de Sergio">
    <main>
        <Hero />
        <About />
        <Experience />
        <Education />
        <Skills />
    </main>
    <KeyboardManager />
</CVLayout>

<style>

</style>
