---
import Image from "astro/components/Image.astro"
---
<div class="max-w-xl">
    <ul class="flex list-none text-white justify-between">
        <a href="/"><img src="/free-logo.png" width="48" height="48" /></a>
        <div class="flex list-none gap-4 px-4 py-2">
            <a href="/"><li>Inicio</li></a>
            <a href="/about"><li>Sobre mi</li></a>
            <a href="/blog"><li>Blog</li></a>
        </div>
    </ul>
</div>