---
import BaseHead from "@/components/BaseHead.astro";
import NavMenu from "@/components/NavMenu.astro";
interface Props {
    title: string
}
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
    <BaseHead title={title}/>
    <body class="bg-dark-blue max-w-content-size mx-auto w-full">
        <div>
            <NavMenu />
            <main>
                <slot />
            </main>
            <footer></footer>
        </div>
    </body>
</html>